/* Change colour around the urlbar */
/* #urlbar-container { */
/*   background-color: #333333 !important; */
/* } */

/* Remove separator between tabs
.tabbrowser-tab::after, .tabbrowser-tab::before {
  border-left: none !important;
} */

/* Disable close button on tabs */
.tabbrowser-tab .tab-close-button {display: none !important;}
.tabbrowser-tab:hover .tab-close-button {display: none !important;}

/* Colour of selected tab
.tabbrowser-tab .tab-background[selected="true"]:-moz-lwtheme {
  background-image: none !important;
  background-color: #333333 !important;
} */

/* Colour of non-selected tab
.tabbrowser-tab .tab-background:not([selected="true"]) {
  background-image: none !important;
  border: 0 !important;
  background-color: #000000 !important;
} */

/* Favicon icon when mouse over over inactive tabs */
.tabbrowser-tab:hover .tab-icon-image:not([selected]),
.tabbrowser-tab:hover .tab-text:not([selected]) {
  filter: grayscale(15%) !important;
}

/* Gray out the favicon icon on inactive tabs */
.tabbrowser-tab .tab-icon-image:not([selected]),
.tabbrowser-tab .tab-text:not([selected]) {
  filter: grayscale(85%) !important;
  color: var(--color-gray-60)
}

/* Transparent URL dropdown
.urlbarView {
  background-color: #2F2F2FF0 !important;
}

.urlbarView-row[selected] {
  background-color: #828294;
}

/* Allows the transparency to happen, but disables the border and background of the urlbar
#urlbar-background {
  display: none !important;
}

#nav-bar {
  background-color: #1A1A1AC0 !important;
}
*/
